html, body {
  height: 100%;
  width: 100%;
  background: black;
}

body {
  border-color: transparent;
  color: white;
  font-family: Raleway;
  transition: background 5s;
}

img {
  width: 100px;
  padding: 50px;
  opacity: 0.5;
}

button {
  background: rgba(255, 255, 255, 0.25);
  border-style: none;
  border-radius: 25px;
  color: inherit;
  font-size: 20px;
  padding: 0.5em 1.2em;
  outline: none;
  margin: auto 1em;
  opacity: 0.5;
}

button:hover, button:active, img:hover, img:active {
  cursor: pointer;
}

input[type="range"] {
  visibility: hidden;
}

input[type="range"].slider-active {
  visibility: visible;
}

.active {
  opacity: 1;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sound-types {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  max-width: 100vh;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #sound-types .flex-container {
    width: 45%;
  }
}

@media (min-width: 769px) {
  #sound-types .flex-container {
    width: 20%;
  }
}

#btn-mute {
  text-align: center;
  font-size: 1em;
  margin-bottom: 1px;
  align-self: flex-end;
}

.footer {
  padding: 5px;
  font-family: Raleway;
  font-size: 10px;
  text-align: center;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  animation: fadein 1.0s;
  opacity: 1;
}

