<div class="header">
  <div>
    <img src="./assets/logo-with-text.png" class="logo"/>
  </div>
  <div class="mute-btn" (click)="stopSounds()" title="Stop all sounds">
    <i class="material-icons">volume_off</i> <br/>
  </div>
</div>
<div class="box-container">
  <div *ngFor="let sound of soundList" class="sound-box">

    <audio loop preload="none" [attr.id]="sound.filename">
      <source src="./assets/sounds/{{sound.filename}}.mp3" type="audio/mpeg">
    </audio>

    <div (click)="audioControls(sound.filename)">
      <img src="./assets/icons/{{sound.icon}}" class="sound-icon"/>
      <br/>
      <div class="audio-info">
        <span class="text-1">{{sound.screenname}}</span>&nbsp;
        <div class="playing-icon-box">
          <img *ngIf="sound.playing" src="./assets/icons/playing.svg" class="playing-icon" [@fadeInOut]/>
        </div>
      </div>
      <br/>
    </div>
    <input type="range" (input)="volumeControls(sound.filename, $event.target.value)" title="volume" min="0"
                max="100" step="1" value="20" [attr.id]="sound.filename + '-volume'">
  </div>
  <br>
  <small class="text-1 footer">
    <br>
    Developed by Ruben Araujo
    <br>
    <br>
  </small>
</div>

